.container-fluid {
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

.root {
  height: 100vh;
  display: flex;
  min-width: 1024px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  background-color: rgba(243, 245, 247, 1);
  height: 40px;
  margin: 0;
  font-size: 14px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(199, 202, 209, 1);
}

.app-title, .report-title {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

h2 button {
  flex-grow: 0;
  background-color: white;
  height: 28px;
  border-radius: 4px;
  border: 1px solid rgba(199, 202, 209, 1);
  padding: 1px 6px !important;
}

.app-title {
  color: rgba(28, 60, 125, 1);
  flex-grow: 0;
}

.report-title {
  font-weight: normal;
  flex-grow: 1;
}

.gs-icon, .report-icon {
  margin-right: 4px;
}

.content {
  display: flex;
  flex-basis: 100%;
  min-height: 0;
  /* overflow: hidden; */

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 64px;
}

.left, .right {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 16px 24px;
  overflow-y: auto;
}

.shiny-input-container h4 {
  font-size: 14px;
}
