# coding: utf-8

"""
    ODM Integration API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: default-released
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from integration_curator.api_client import ApiClient


class SampleStudyIntegrationApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_samples_by_study(self, id, **kwargs):  # noqa: E501
        """Retrieve samples related to studies  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_samples_by_study(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Unique identifier (accession) of the SPoT object. (required)
        :param int page_limit: Maximum number of results to return. This value must be between 0 and 100 (inclusive).
        :param int page_offset: Index of first result to return. This can be used to retrieve large numbers of results in batches.
        :return: ListResponse. If the method is called asynchronously, returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_samples_by_study_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_samples_by_study_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_samples_by_study_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieve samples related to studies  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_samples_by_study_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: Unique identifier (accession) of the SPoT object. (required)
        :param int page_limit: Maximum number of results to return. This value must be between 0 and 100 (inclusive).
        :param int page_offset: Index of first result to return. This can be used to retrieve large numbers of results in batches.
        :return: ListResponse. If the method is called asynchronously, returns the request thread.
        """

        all_params = ['id', 'page_limit', 'page_offset']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_samples_by_study" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_samples_by_study`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'page_limit' in params:
            query_params.append(('pageLimit', params['page_limit']))  # noqa: E501
        if 'page_offset' in params:
            query_params.append(('pageOffset', params['page_offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'text/tab-separated-values'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Genestack-API-Token']  # noqa: E501

        return self.api_client.call_api(
            '/integration/link/samples/by/study/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)